<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:int-jdbc="http://www.springframework.org/schema/integration/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<int:channel id="mainQueueCnannel">
		<int:queue capacity="100" />
	</int:channel>

	<int:channel id="outputSkypeChannel">
		<int:queue capacity="100" />
	</int:channel>

	<int:channel id="outputVkChannel">
		<int:queue capacity="100" />
	</int:channel>

	<int:channel id="outputTelergamChannel">
		<int:queue capacity="100" />
	</int:channel>

	<!-- адаптер для просовывания сообщений из сетей в общий канал -->
	<int:inbound-channel-adapter channel="mainQueueCnannel" ref="putComponent" method="send">
		<int:poller max-messages-per-poll="1" fixed-rate="0" />
	</int:inbound-channel-adapter>

	<!--роутер для перенаправления сообщений на разные каналы отправки сообщений, в зависимости от того, чему равен заголовок channelType -->
	<int:header-value-router input-channel="mainQueueCnannel" header-name="channelType">
		<int:mapping value="skypeChannel" channel="outputSkypeChannel" />
		<int:mapping value="vkChannel" channel="outputVkChannel" />
		<int:mapping value="telegramChannel" channel="outputTelergamChannel" />
	</int:header-value-router>

	<int:outbound-channel-adapter channel="outputSkypeChannel" ref="skypeComponent" method="send">
		<int:poller max-messages-per-poll="1" fixed-delay="0" />
	</int:outbound-channel-adapter>

	<int:outbound-channel-adapter channel="outputVkChannel" ref="vkComponent" method="send">
		<int:poller max-messages-per-poll="1" fixed-delay="0" />
	</int:outbound-channel-adapter>

	<int:outbound-channel-adapter channel="outputTelergamChannel" ref="telegramComponent" method="send">
		<int:poller max-messages-per-poll="1" fixed-delay="0" />
	</int:outbound-channel-adapter>

	<int:poller default="true" fixed-rate="10000" />



</beans>